body {
  font-size: 16px;
}

.box {
  text-align: center;
  padding: 10px;
}

.quote-content {
  font-size: 1.2em;
}

.quote-dash {
  font-size: 1.7em;
}

.quote-title {
  font-style: italic;
  font-size: 1.7em;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 94vh;
}

footer {
  font-size: 0.8em;
  display: flex;
  align-items: center;
  justify-content: center;
}
