.box {
  color: white;
  font-size: 32px;
  text-align: center;
  text-shadow: 4px 4px 0 rgba(0,0,0,0.1);
  padding: 10px;
}

.box1 {
  border: 1px solid mistyrose;
  color: black;
}

.box2 {

}

.container {
  display: flex;
  border: 10px solid goldenrod;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 94vh;
}
